* {
    margin:0; padding:0;
}

/* INDEXの写真表示のクラス */
.img-responsive {
    max-width: 100%;
    height: 250px;
    width: 250px;
    object-fit: cover;
    border: solid;
    border: 1px solid;
    border-color: gray;
}

/* SHOWの写真表示のクラス */
.img-show{
    height: 400px;
    width: 400px;
}

.image_login{
    height: 90px;
    width: 90px;
}

.logo{
    height: 50px;
    width: 50px;
}

/* HEADERたち */
header {
    width: 100%;
    padding: 15px 0;
    margin: 0 auto;
    text-align: center;
}
header .headline{
    /* font-size: 50px; */
    background-color:  #89de8d;
    color: #fff;
}

.navbar-brand{
    font-size: 50px;
    background-color:  #89de8d;
    color: #fff;
}



.nav-list {
    text-align: center;
    padding: 10px 0;
    margin: 0 auto;
}
.nav-list-item {
    list-style: none;
    display: inline-block;
    margin: 0 20px;
}

/* footerたち */
.wrapper{
    min-height: 100vh;
    position: relative;
    padding-bottom: 120px;
    box-sizing: border-box;
}

footer{
    width: 100%;
    background-color: #89c7de;
    color: #fff;
    text-align: center;
    padding: 60px 0;
    position: absolute;/*←絶対位置*/
    bottom: 0; /*下に固定*/
}

/* INDEXのボタンデザイン */
.box1{
    width:500px;
    height:400px;
    background-color: rgb(237, 241, 241);
    border-radius:50px;
    font-size: 40px;
    color: #89c7de;
    border-style:dotted;
    outline: none;
    -webkit-tap-highlight-color:rgba(0,0,0,0);
    cursor:pointer;
}

/* 押したときの青い線なくした */
*:focus {
outline: none;
}

/* ピクトさんの大きさ */
.pikuto{
    width: 150px;
    height: 150px;
}
.pikutoMini{
    width: 40px;
    height: 40px;
}

.card-header{
    font-size: 30px;
}

｡dropdown-item{
    color: white;
}


.thanks{
    font-size: 100px;
    color: #89c7de;
}