* {
    margin:0; padding:0;
}

/* INDEXの写真表示のクラス */
.img-responsive {
    max-width: 100%;
    height: 250px;
    width: 250px;
}

/* SHOWの写真表示のクラス */
.img-show{
    height: 400px;
    width: 400px;
}

/* HEADERたち */
header {
    width: 100%;
    padding: 15px 0;
    margin: 0 auto;
    text-align: center;
}
header .headline{
    font-size: 50px;
    background-color:  #89c7de;
    color: #fff;
}

.nav-list {
    text-align: center;
    padding: 10px 0;
    margin: 0 auto;
}
.nav-list-item {
    list-style: none;
    display: inline-block;
    margin: 0 20px;
}

.wrapper{
    min-height: 100vh;
    position: relative;
    padding-bottom: 120px;
    box-sizing: border-box;
}

footer{
    width: 100%;
    background-color: #89c7de;
    color: #fff;
    text-align: center;
    padding: 60px 0;
    position: absolute;/*←絶対位置*/
    bottom: 0; /*下に固定*/
}

ul.footer-menu li {
display: inline;
} 

